doctype html
html
  head
    title  PRIYASH
    block scripts 
    block style
         
  body 
    nav#navbar 
        ul 
            div#logo 
               img(src="/static/bg.png") 
               | URU
            li #[a(href="/") Home ] 
            li #[a(href="/") About ]
            li #[a(href="/") service] 
            li #[a(href="/") contact] 
    block content
     footer#footer 
        