
extends base.pug

block scripts
  script(src='/static/index.js')
block style 
    style 
      include ../static/style.css 
block content 
 
        
    section#introSection
        div  PRIYASH 
        div.small Eat Sleep Repeat
    section#missionSection 
        h3 our mission    
        div.card 
            p Dance Perfection 
            div.card-box 
                div.card-img 
                    img(src="/static/chiku.jpg") 
                div.card-content 
                    p This is best dance Academy
                    
        div.card 
            p Dance the way you like 
             div.card-box 
                div.card-img 
                    img(src="/static/chiku.jpg") 
                div.card-content 
                    p This is best dance Academy 
        //- div.card 
        //-     p Expert Teaching   
        //-      div.card-box 
        //-         div.card-img 
        //-             img(src="/static/chiku.jpg") 
        //-         div.card-content 
        //-             p This is best dance Academy div.card-box 
                
                
    section#sponsersSection 
        h2 Ours Sponsers
    footer#footer 
          

      