
doctype html
html
  head
    style
      include ../static/style.css
  body
    nav#navbar 
        ul 
            div#logo 
               img(src="/static/bg.png") 
               | URU
            li #[a(href="/") Home ] 
            li #[a(href="/") About ]
            li #[a(href="/") service] 
            li #[a(href="/") contact]
    section#introSection
        div  PRIYASH 
        div.small Eat Sleep Repeat
    section#missionSection 
        h3 our mission    
        div.card 
            p Dance Perfection 
            div.card-box 
                div.card-img 
                    img(src="/static/chiku.jpg") 
                div.card-content 
                    p This is best dance Academy
                    
        div.card 
            p Dance the way you like 
             div.card-box 
                div.card-img 
                    img(src="/static/chiku.jpg") 
                div.card-content 
                    p This is best dance Academy 
        //- div.card 
        //-     p Expert Teaching   
        //-      div.card-box 
        //-         div.card-img 
        //-             img(src="/static/chiku.jpg") 
        //-         div.card-content 
        //-             p This is best dance Academy div.card-box 
                
                
    section#sponsersSection 
        h2 Ours Sponsers
        div.card-img 
          img(src="/static/.jpg")
    footer#footer 
        
    script
      include ../static/index.js